[user]
	name = Richard Shi
	email = mail@richardshi.com
[alias]
	co = checkout
	gud = "!echo scrub"
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --exclude=origin/build_* --remotes --branches
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --tags --remotes
	lb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	st = status
	up = remote update -p
	ff = merge --ff-only
[core]
	autocrlf = input
[push]
	default = current
[rerere]
	enabled = true
[stash]
	showPatch = true
[rebase]
	autostash = true
[color]
	ui = true
