# General aliases

alias grep='grep --color=auto'
alias ed='emacs --daemon'
alias et='emacsclient -t'

alias ec='/usr/local/opt/emacs-mac/Emacs.app/Contents/MacOS/Emacs'
alias scheme="rlwrap -r -c -f /Users/richardshi/Development/scheme_workspace/mit_scheme_bindings.txt scheme"